<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; connect-src 'self';">
<meta name="search-index-url" content="{{ "index.json" | absURL }}">
<meta name="search-page-url"  content="{{ "search/" | absURL }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" type="image/png" href="/digibatt_favicon.png">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
